---
const { bookmarks } = Astro.props;
---

<h2
  class="uppercase tracking-wide font-semibold text-primary dark:text-primaryDark"
>
  Daily dev bookmarks
</h2>
<div class="mt-8 ml-[-32px]">
  {bookmarks.map((bookmark) => (
    <ul class='p-0 text-lg list-none'>
      <li class='flex flex-row-reverse mb-4 items-start'>
        <div class='peer flex-[1_1_0%]'>
          <a class='block' href={bookmark.link}>
            {bookmark.title}
          </a>
        </div>
        <span class='peer-hover:translate-x-2 peer-hover:duration-300 flex items-center pr-4 pt-0 translate-y-[5px] translate-x-0 duration-300'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-arrow-right'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='#2c3e50'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none' />
            <line x1='5' y1='12' x2='19' y2='12' />
            <line x1='13' y1='18' x2='19' y2='12' />
            <line x1='13' y1='6' x2='19' y2='12' />
          </svg>
        </span>
      </li>
    </ul>
  ))}
</div>
